/* styles.css */

/* Estilos para el contenedor de toda la página */
.page-container {
  background-color: #ffd699; /* Fondo cálido */
  padding: 20px;
}

/* Estilos para el encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

/* Estilos para los enlaces de redes sociales */
.social-media img {
  margin-right: 5px;
}

/* Estilos para el título */
.title {
  text-align: center;
  margin: 20px 0;
}

/* Estilos para los enlaces de navegación */
.nav-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-links a {
  margin: 0 10px;
}

/* Estilos para la lista de imágenes */
.image-list {
  display: grid;
  grid-gap: 20px;
}

/* Estilos para el contenedor de cada imagen */
.image-container {
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s ease;
  width: 700px; /* Ancho máximo del contenedor de imagen */
  height: auto; /* Altura automática para mantener la proporción */
  margin: 0 auto 20px; /* Centrar horizontalmente y agregar margen inferior */
}

/* Estilos para el fondo oscuro al pasar el mouse sobre la imagen */
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  transition: opacity 0.3s; /* Transición de opacidad */
  opacity: 0; /* Inicialmente oculto */
}

/* Estilos para mostrar el fondo oscuro al pasar el mouse sobre la imagen */
.image-container:hover::before {
  opacity: 1;
}

/* Estilos para la superposición de texto en las imágenes */
.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: rgb(230, 220, 220);
}

/* Estilos para la superposición de texto al pasar el mouse */
.image-container:hover .image-overlay::before,
.image-container:hover .image-overlay::after {
  content: attr(data-content); /* Muestra el contenido del atributo data-content */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega sombra a las letras */
}

/* Estilos para la superposición de texto antes */
.image-overlay::before {
  z-index: -1; /* Mueve el texto detrás de la imagen */
}

/* Estilos para la superposición de texto después */
.image-overlay::after {
  z-index: 1; /* Mueve el texto delante de la imagen */
}

/* Estilos para las imágenes */
.image-container.show {
  opacity: 1;
}

.image-container img {
  width: 100%;
}

/* Estilos para la imagen al pasar el mouse */
.image-container:hover img {
  transform: scale(1.1) rotateY(10deg); /* Ajusta el factor de escala y el ángulo de rotación según sea necesario */
  transition: transform 0.5s ease; /* Agrega una transición suave */
}
